body
    margin 0
    padding 0
    background #0C0020
.content
    background #f0f0f0
    font-size 36px
    padding 24px 20px
.title
    background #a076a3
    padding 20px 24px
    font-size 36px
    color #fefefe